<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>온실(溫室) | 관리자</title>
    <link rel="icon" th:href="@{/images/icon.jpeg}" type="image/png">
    
    <!-- 폰트어썸 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
    <link rel="stylesheet" th:href="@{/css/admin/admin.css}">
    
    <!-- js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script th:src="@{/script/jquery-3.7.1.min.js}"></script>
    <script th:src="@{/js/myFunction.js}"></script>
    
</head>
<body>
    <div class="header">
        <div class="top-bar">
            <div class="logo">
                <a th:href="@{/}"><img th:src="@{/images/logo_white.png}" alt="logo"></a>
            </div>
            
            <div class="right-side">
                <ul id="menu">
					<li><a th:href="@{/admin/timeCheck}">예약시간 관리</a></li>
                    <li><a th:href="@{/admin/reserveCheck}">예약자 관리</a></li>
                    <li><a th:href="@{/admin/writeManage}">글 작성</a></li>
                </ul>
            </div>
        </div>
    </div>
    
    <div class="content">    
        <div id="eventTable" style="display: none;"  > <!--  -->
            <div th:each="entry : ${eventsByDate}">
                <h4 th:text="${entry.key}">날짜</h4>
                <table>
                    <tr th:each="event : ${entry.value}">
                        <td th:text="${event.eventTime}">12:00</td>
                        <td th:text="${event.reserveCount}">12:00</td>
                    </tr>
                </table>
            </div>
        </div>

        <!-- chart.js -->
        <div class="chart">		
			<!-- 날짜 선택 드롭다운 -->
			<label for="dateSelect">날짜 :</label>
			<select id="dateSelect">
			    <option value="" selected disabled>날짜를 선택하세요</option>
			</select>
		</div>
		
		<!-- 차트가 생성될 위치 -->
		<div class="chart-container">
		    <!-- 동적으로 생성된 canvas 요소가 여기에 추가됩니다. -->
		</div>
		
        <script>
			function extractEventData(){
				const eventTable = document.getElementById('eventTable');
				const dateElements = eventTable.getElementsByTagName('h4');
				const eventData = {};
				
				for (let dateElement of dateElements) {
			        const date = dateElement.textContent;
			        const rows = dateElement.nextElementSibling.getElementsByTagName('tr');
			        const events = Array.from(rows).map(row => {
			            const time = row.children[0].textContent;
			            const reserveCount = parseInt(row.children[1].textContent);
			            return { time, reserveCount };
			        });
			        eventData[date] = events;
				  }
				
				  return eventData;
			}
			
			
			// 차트 생성 함수
			function createEventChart() {
				
			  const eventData = extractEventData();
			  const dateSelect = document.getElementById('dateSelect');
			  
			  const dates = Object.keys(eventData);
			  
			  // 날짜를 오름차순으로 정렬 (이전 날짜가 먼저 오도록)
			  dates.sort((a, b) => new Date(a) - new Date(b));
			  
			  //const eventCounts = dates.map(date => eventData[date].length);
			  
			  // 날짜별로 드롭다운 생성
			 dates.forEach(date => {
				const option = document.createElement('option');
				option.value = date;
				option.textContent = date;
				dateSelect.appendChild(option);
			 });
			
			// 차트 생성
			const chartContainer = document.querySelector('.chart-container');
			chartContainer.innerHTML = '';
			
			
		    // 날짜별로 차트를 만듭니다.
		    dates.forEach((date, index) => {
				
				// 차트용 canvas 생성
				const canvas = document.createElement('canvas');
				canvas.id = `reservationChart-${date}`; // 날짜별로 id를 설정합니다.
				canvas.style.display = 'none';  // 기본적으로 숨깁니다.
				chartContainer.appendChild(canvas);
				
		        const eventTimes = eventData[date].map(event => event.time).sort();
		        const reserveCounts = eventData[date].map(event => event.reserveCount);
		
		        const ctx = canvas.getContext('2d');
		        
		        new Chart(ctx, {
		            type: 'bar',
		            data: {
		                labels: eventTimes,  // 시간대
		                datasets: [{
		                    label: `${date} 예약 인원수`,
		                    data: reserveCounts,  // 예약 인원수
		                    max:20,
		                    backgroundColor: 'rgba(75, 192, 192, 0.6)',
		                    borderColor: 'rgba(75, 192, 192, 1)',
		                    borderWidth: 1
		                }]
		            },
		            options: {
		                responsive: true,
		                scales: {
		                    y: {
		                        beginAtZero: true,
		                        max: 20,
		                        title: {
		                            display: true,
		                            text: '예약 인원 수'
		                        }
		                    },
		                    x: {
		                        title: {
		                            display: true,
		                            text: '시간대'
		                        }
		                    }
		                }
		            }
		        });
		       });
			}

			document.getElementById('dateSelect').addEventListener('change', function(){
				const selectDate = this.value;
		        
		        // 모든 차트를 숨기고, 선택된 날짜의 차트만 표시
				const canvases = document.querySelectorAll('.chart-container canvas');
				canvases.forEach(canvas => {
					canvas.style.display = canvas.id === `reservationChart-${selectDate}` ? 'block' : 'none';
				});
		        
			});
			
			document.addEventListener("DOMContentLoaded", function() { 	
				createEventChart();				
			});
	
	    </script>
    </div>
</body>
</html>