<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>온실(溫室) | 관리자 예약확인</title>
    <link rel="icon" th:href="@{/images/icon.jpeg}" type="image/png">
    
    <!-- 폰트어썸 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
    <link rel="stylesheet" th:href="@{/css/admin/admin.css}">
    
    <!-- js -->
    <script th:src="@{/script/jquery-3.7.1.min.js}"></script>
    <!-- jQuery Modal -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
    
    <script th:src="@{/js/myFunction.js}"></script>
    <script th:src="@{/js/myAjax.js}"></script>
    <script>
        
    </script>
</head>
<body>
	<div class="header">
        <div class="top-bar">
            <div class="logo">
                <a th:href="@{/}"><img th:src="@{/images/logo_white.png}" alt="logo"></a>
            </div>
            
            <div class="right-side">
                <ul id="menu">
                    <li><a th:href="@{/admin/adminMain}"><i class="fa-solid fa-house-user"></i></a></li>
                    <li><a id="" th:href="@{/admin/reserveCheck}">예약 관리</a></li>
                    <li><a th:href="@{/admin/writeManage}">글 작성</a></li>
                </ul>
            </div>
        </div>
    </div>
    
    <div class="content">
        <!-- ajax 전송 위한 -->
        <input type="hidden" id="qnaId" th:value="${qna.qnaId}">
        <input type="hidden" id="contextPath" th:value="${contextPath}">
        <h2>공지사항, 답변 관리</h2>
        <!-- 수정 삭제는 각자 해야하니까 폼 두개로 만들 수 있다는 점 기억하기 -->
        <form action="">
            <!-- 공지글 쓰기 화면으로 -->
            <div class="notice" id="notice">
                <div class="write"><a th:href="@{/reservation/adminWrite}"><i class="fa-solid fa-plus"></i></a></div>
                <h3>Notice</h3>
                <table  th:each="notice:${noticeList}">
                    <tr>
                        <th class="category">공지</th>
                        <td class="title"  th:text="${notice.title}">냠냠</td>
                        <td class="date" th:text="${#temporals.format(notice.writeDate,'yyyy/MM/dd')}">날짜</td>
                        <td style="width: 70px;">
                            <button class="delete">삭제</button>
                            <button class="update">수정</button>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4" class="detail" th:utext="${notice.detail}"></td>
                    </tr>
                </table>
            </div>

            <div class="qna" id="qna">
                <h3>QnA</h3>
                <table th:each="qna:${qnaList}">
                    <!-- 질문을 클릭하면 인풋 박스가 나와서 거기에 글을 쓰게하기 -->
                    <tr>
                        <th class="name" th:text="${qna.qnaName}">질문자</th>
                        <td class="question"><a id="qnaModal" th:data-id="${qna.qnaId}" th:text="${qna.title}">질문</a></td>
                        <td class="date" th:text="${#temporals.format(qna.writeDate, 'yyyy/MM/dd HH:mm:ss')}">날짜</td>
                    </tr>
                    <!-- 답변이 있으면 펼쳐지게 안되면 안 펼쳐지게 하기가 나을까 새로운 페이지를 팔까? -->
                    <tr>
                        <!-- 글씨를 쓰면 완료 버튼이 나오게 -->
                        <td colspan="2" th:if="${qna.answer!=null}">
                            <p class="haveAnswer" th:text="${qna.answer}" >답변이 있는 경우</p>
                        </td>
                    </tr>                    
                </table>
            </div>
            
            <div class="popup-wrap" id="popup">
                <div class="popup">
                    <div class="contentbox">
                        <ul id="qnaDetail">
                        </ul>
                    </div>
                    <div class="popup-foot">
                            <button class="submit">완료</button>
                            <!-- <button class="delete">삭제</button>
                            <button class="update">수정</button> -->
                    </div>
                </div>
            </div>
        </form>
    </div>
    
</body>
</html>