<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>온실(溫室) | 관리자 예약확인</title>
    <link rel="icon" th:href="@{/images/icon.jpeg}" type="image/png">
    
    <!-- 폰트어썸 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
    <link rel="stylesheet" th:href="@{/css/admin/admin.css}">
    
    <!-- js -->
    <script th:src="@{/script/jquery-3.7.1.min.js}"></script>
    <!-- jQuery Modal -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
    
    <script th:src="@{/js/myFunction.js}"></script>
</head>
<body>
	<div class="header">
        <div class="top-bar">
            <div class="logo">
                <a th:href="@{/}"><img th:src="@{/images/logo_white.png}" alt="logo"></a>
            </div>
            
            <div class="right-side">
                <ul id="menu">
                    <li><a th:href="@{/admin/adminMain}"><i class="fa-solid fa-house-user"></i></a></li>
                    <li><a th:href="@{/admin/timeCheck}">예약시간 관리</a></li>
                    <li><a th:href="@{/admin/reserveCheck}">예약자 관리</a></li>
                    <li><a th:href="@{/admin/writeManage}">글 작성</a></li>
                </ul>
            </div>
        </div>
    </div>
    
    <div class="content">
        <h2>공지사항 관리</h2>
            <!-- 공지글 쓰기 화면으로 -->
            <div class="notice" id="notice">
                <div class="write"><a th:href="@{/admin/noticeWrite}"><i class="fa-solid fa-plus"></i></a></div>
                <h3>Notice</h3>
                <table th:each="notice:${noticeList}">
                    <thead>
                        <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="category" th:text="${notice.category}">공지</td>
                            <td class="title">
                                <a class="dropdown-notice" th:id="'noticeModal_' + ${notice.noticeId}" th:data-id="${notice.noticeId}" 
                                id="dropdown-notice" th:text="${notice.title}">냠냠</a>
                            </td>
                            <td class="date" th:text="${#temporals.format(notice.writeDate,'yyyy/MM/dd')}">날짜</td>
                        </tr>
                        <tr>
                            <!-- 모달 나오는 <td colspan="3" class="detail" id="dropdown-detail" th:utext="${notice.detail}"></td> -->
                            <td colspan="2" class="dropdown-detail" th:utext="${notice.detail}"></td>
                            <td class="button-group">
                            	<!-- 수정 폼 -->
						        <form th:action="@{/admin/noticeUpdate}">
						            <input type="hidden" name="noticeId" th:value="${notice.noticeId}">
						            <button type="submit" class="update">수정</button>
						        </form>
						
						        <!-- 삭제 폼 -->
						        <form th:action="@{/admin/noticeDelete}" method="post">
						            <input type="hidden" name="noticeId" th:value="${notice.noticeId}">
					                <button type="submit" class="delete">삭제</button>
						        </form>
					        </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
            <!-- <div class="popup-wrap" id="notice-popup">
                <div class="popup">
                    <div class="contentbox">
                        <table>
                            <tr><th id="n_title"></th></tr>
                            <tr><td id="n_writeDate"></td></tr>
                            <tr><td id="n_detail"></td></tr>
                        </table>
                    </div>
                    <div class="popup-foot">
                        <button class="submit">완료</button>
                        <button class="update">수정</button>
                        <button class="delete">삭제</button>
                    </div>
                </div>
            </div> -->
            
        </form>
    </div>
    
</body>
</html>