@import "main.css";

* {
    font-family: 'Noto Sans KR';
}

.content h3 {
    font-family: "Playfair Display";
    font-size: 20px;
    padding: 22px 0;

}

table {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: auto;
    border-top: 2px solid;
    align-items: center;
}

table tr {
    margin: 5px 0;
    font-size: 17px;
}


table th.title, th.name {
    width: 165px;
    text-align: center;
    padding: 5px 0;
}

table td.detail, td.question {
    width: 800px;
    text-align: start;
    padding: 5px 0;
}

table td.detail:hover, td.question a:hover{
    color: rgb(116, 116, 116);;

}

table td.date {
    width: 200px;
    text-align: center;
    padding: 5px 0;
}

.notice table tr:last-child,
.qna table tr:last-child {
    border-bottom: 1px solid #ccc; /* 선 스타일 지정 */
}


.notice {
    margin-bottom: 32%;
}

.qna .write {
    float: right;
    padding: 0 14px 10px;
}

