<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>온실(溫室) | 글쓰기</title>
    <link rel="icon" href="../static/images/icon.jpeg" type="image/png">

    <link rel="stylesheet" href="../static/css/about.css">
    <!-- 폰트어썸 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="header">
        <div class="top-bar">
            <div class="logo">
                <a href="main.html"><img src="../static/images/logo_white.png" alt="logo"></a>
            </div>
            
            <div class="right-side">
                <ul id="menu">
                    <li>
                        <a id="" href="about.html">About</a>
                        <ul>
                            <li><a href="about.html#introduce">온실 溫室</a></li>
                            <li><a href="about.html#directions">Directions</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="board.html">Board</a>
                        <ul>
                            <li><a href="board.html#notice">Notice</a></li>
                            <li><a href="board.html#qna">QnA</a></li>
                        </ul>
                    </li>
                    <li><a id="" href="reservation.html">Reserve</a></li>
                    <li><a id="" href="reviews.html">Review</a></li>
                </ul>
            </div>
        </div>
    </div>
    
    <!-- 글 쓰는 건 ckeditor 쓰기 -->
    <div class="content">
        <form action="">
            <table>
                <tr>
                    <th>글 남길 곳
                        <select name="write" class="select">
                            <option value="qna">QnA</option>
                            <option value="review">Reviews</option>
                        </select>
                    </th>
                </tr>
                <tr><th>제목<input type="text" name="" id=""></th></tr>
                <tr><td><input type="text" name="" id=""></td></tr>
            </table>
        </form>
    </div>

    <footer>
        <div class="sns">
            <a href="https://www.instagram.com/du_bi_dubap?igsh=aHo1a3JnenZrajJh&utm_source=qr"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://x.com/Du_Bidubap"><i class="fa-brands fa-twitter"></i></a>
        </div>
    </footer>
</body>
</html>