@import "../main.css";

.top-bar .logo { flex: 1.5;}
.top-bar .right-side { flex: 2;}
.right-side ul {justify-content: flex-end;}
.right-side a { padding-right: 0%;}

table{
	width: 100%;
    margin-top: 45px;
    text-align: center;
}