@import "main.css";

table {
	width: 90%;
	
}

.reserve-form {
	display: flex;
	
}
section {
	border:1px solid;
}

.ticket,
.reserve-info {
	width: 52%;
}

.amount,
.agree {
	float: right;
	width: 42%;
}
