@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/* 초기화 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* 글꼴 */
    font-family:"Noto Sans KR";
    font-weight: 300;
    font-style: normal;
}

li {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
    font-family: "Playfair Display";
}

img {
    vertical-align: top; /* 수직정렬 */
}

/***************************
해당 화면 크기에 대한 @media 규칙 내부에서 스타일을 지정하시면 됩니다. 
 ***************************/

/* 모바일에 최적화된 CSS 코드 */
@media (max-width: 768px) {
    /* 모바일 화면에서의 스타일 지정 */
}

/* 데스크탑에 최적화된 CSS 코드 */
@media (min-width: 769px) {
    /* 데스크탑 화면에서의 스타일 지정 */
}

/* 특정 너비에 대한 반응형 CSS 코드 */
@media (max-width: 992px) {
    /* 특정 너비 범위에서의 스타일 지정 */
}
/* @media all and (max-width:1080px) {} 최대 너비가 1080px 이하인 경우에 스타일이 적용 */

html, 
body {
    height: 100%;
}


a:hover {
    color: rgb(116, 116, 116);
}

div.background {
    background-image: url('../images/poster.jpg');
    position: fixed;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
}


div.background .right-side a{
    padding-right: 10%;
    color: white;
}

/* 상단 바 스타일링 */
.top-bar {
    display: flex;
    padding: 10px 20px;
    align-items: center;
}

.logo img{
    width: 10%;
}

.right-side {
    position: relative;
    right: 12%;
}

.right-side ul{
    display: flex;
}

.right-side li {
    min-width: 52%;
    font-size: 19px;
}

.right-side a {
    padding-right: 10%;
    color: black;
}

.right-side a:hover {
    color: rgb(116, 116, 116);
    text-decoration: underline;
    text-underline-offset: 6px;
    /* font-size: 21px; */
}


/* 현재 페이지 링크 스타일   현재 페이지 링크의 밑줄을 항상 표시
.right-side a.current::after {
    width: 20%;
} */

/* 메뉴바 드롭다운 */
.right-side ul#menu li ul {
    display:none;
    position: absolute;
}

.right-side ul#menu li:hover ul {
    display:block;
    position: absolute;
}

.right-side ul#menu li ul a {
    font-size: 15px;
    padding: 8px 6px;
}

.right-side ul#menu li ul li {
    margin: 8px 0;
}
/* .right-side ul#menu li ul a:hover {
    background-color:rgba(188, 186, 186, 0.1);
    text-decoration: none;
    width: 100%;
} */

/* 본문 */
.content {
	padding: 0 125px 60px;
    height: auto;
    flex: 1;
    min-height: calc(100% - 60px);
}

.content h2 {
    position: relative;
    justify-content: center;
    display: flex;
    font-weight: 300;
    font-size: xx-large;
    margin: 35px 0px;
}

footer {
    position: relative;
    /*padding: 10px 0;*/
    padding: 10px 125px 31px;
    width: 100%;
    height: auto;
    bottom: 0;
    /*text-align: center;*/
    transform: translatY(-100%);
    border-top: 1px solid ;
}



.sns {
    display: inline-flex;
    align-items: center;
}

.sns a{
    margin: 10px;
}

.footer-info {
	display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-info span {
	display: block;
}

.footer-img img{
	display: inline-flex;
    height: auto;
    width: 72px;
    align-items: center;
    margin: 5px;
}



