@import "main.css";

* {
    font-family: 'Noto Sans KR';
}


.reserve-notice h2{
    margin-bottom: 20px;
}

.reserve-notice ul {
    margin-bottom: 20px;
}

.reserve-notice li {
    padding: 7px;
}

.reserve-notice li strong {
    color: #ff2b2b;
}

.reserve-notice span {
    margin-top: 100px;
    padding: 7px;
    font-weight: 400;
}


#calendar {
    margin-top: 13%;
}


#calendar th, td {
    width: 254px;
    border: 0.74px solid;
}    

#calendar th {
    height: 32px;
    text-align: center;
}

#calendar td {
    height: 360px;
}

.time,
.day,
.fill {
    font-family: 'Work Sans';
}

.day {
    position: relative;
    float: inline-end;
    top: -45%;
    padding: 5px;
}

td li {
    margin: 20px;
    
}

.time {
    /* border: 0.74px solid; */
    padding: 6px;
    /* box-shadow: 1px 2px 2px 2px #bcb4b4; */
}