@import "main.css";

* {
    font-family: 'Noto Sans KR';
}

.makeLine_star {
    width: 6%;
    position: absolute;
    left: 73%;
    top: 80%;
}


#calendar h3,
.reserve-notice h3{
    padding: 7px;
    margin-bottom: 10px;
    font-size: 18px;
}

.reserve-notice ul {
    margin-bottom: 20px;
}

.reserve-notice li {
    padding: 7px;
}

.reserve-notice li strong {
    color: #ff2b2b;
}

.reserve-notice span {
    margin-top: 100px;
    padding: 7px;
    font-weight: 400;
}


#calendar {
    margin-top: 13%;
    font-family: 'Work Sans';
}


#calendar td.unavailable {
    width: 155px;
    border: 1px solid #ffffff;
   	background: #f3f3f3;
} 

#calendar .available-fri, 
#calendar .available-sat,
#calendar .available-sun {
    width: 165px;
    text-align: center;
    letter-spacing: 5px;
	color: #000000;
	background: #ffffff;
    border: 1px solid;
}   

#calendar th {
    text-align: center;
    color: #fff;
    background: #000;
    height: 32px;
}

#calendar td {
    height: 360px;
}


.day {
    float: inline-end;
    padding: 5px;
}

td li {
    padding: 4px 0;  
}

#full {
    color:#f3f3f3;
}

.reservationCheck {
    margin-top: 10%;
}

#reservationCheck, 
#search-result { display: flex; align-items: center; padding: 10px 20px;}

#reservationCheck td {padding: 0 15px 0 0; font-size: 17px;}
#reservationCheck input { padding: 4px; font-size: 14px;}
.button #search {
    padding: 3px 5px;
    background: #FFEC8E;
    border: none;
}

.button #cancel {
    padding: 3px 5px;
    background: #ff8e8e;
    border: none;
}

#search-result h4 {display: flex; align-items: center;}
#search-result #result {display: block; margin: 3px 5px;}
/* modal css */

.popup-wrap {
    background-color: rgba(0,0,0,.5);
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    display: none;
    padding: 15px;
}

.popup {
    width: 100%; max-width: 400px;
    background-color: #ffffff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 5px 10px 10px 1px rgba(0,0,0,.3);
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Center content vertically */
}

.popup-foot {
    width: 100%; height: 50px;
    display: flex;
    justify-content: space-between;
}

.body-contentbox {
    word-break: break-word;
    overflow-y: auto;
    min-height: 10em; max-height: 20em;
    text-align: center;
    padding: 10px; /* Added for better spacing */
    display: flex;
    align-items: center;
}

.body-contentbox span{
    font-size: 18px;
}

#close {
    display: inline-flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background: #FFEC8E;
    border: none;
    font-weight: 350;
}
