@import "../main.css";
@import "../write.css";

.top-bar .logo { flex: 1.5;}
.top-bar .right-side { flex: 2;}
.right-side ul {justify-content: flex-end;}
.right-side a { padding-right: 0%;}

/*********
ckeditor
**********/
.ck-editor__editable[role="textbox"] {
	/* Editing area */
	min-height: 50vh;
}

.ck-content .image {
	/* Block images */
	max-width: 80%;
	margin: 20px auto;
}