@import "../main.css";
@import "../write.css";

.top-bar .logo { flex: 1.5;}
.top-bar .right-side { flex: 2;}
.right-side ul {justify-content: flex-end;}
.right-side a { padding-right: 0%;}

.category {
	float: inline-start;
    width: 20%;
    height: 40px;
    padding: 4px;
}

.title {
	float: inline-start;
    width: 80%;
}

#noticeTitle {
    width: 100%; /* 또는 원하는 너비를 지정하세요 */
    box-sizing: border-box; /* 패딩과 테두리를 포함하여 너비를 계산합니다 */
}



/*********
ckeditor
**********/
.ck-editor__editable[role="textbox"] {
	/* Editing area */
	min-height: 50vh;
}

.ck-content .image {
	/* Block images */
	max-width: 80%;
	margin: 20px auto;
}