<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>온실(溫室) | 후기</title>
    <link rel="icon" href="../static/images/icon.jpeg" type="image/png">

    <link rel="stylesheet" href="../static/css/reviews.css">
    <!-- 폰트어썸 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="header">
        <div class="top-bar">
            <div class="logo">
                <a href="main.html"><img src="../static/images/logo_white.png" alt="logo"></a>
            </div>
            
            <div class="right-side">
                <ul id="menu">
                    <li>
                        <a id="" href="about.html">About</a>
                        <ul>
                            <li><a href="about.html#introduce">온실 溫室</a></li>
                            <li><a href="about.html#directions">Directions</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="board.html">Board</a>
                        <ul>
                            <li><a href="board.html#notice">Notice</a></li>
                            <li><a href="board.html#qna">QnA</a></li>
                        </ul>
                    </li>
                    <li><a id="" href="reservation.html">Reserve</a></li>
                    <li><a id="" href="reviews.html">Review</a></li>
                </ul>
            </div>
        </div>
    </div>
    
    <div class="content">
        <form action="">
            <div class="event-info">
                이벤트 설명..
            </div>
            <div class="write">
                <a href="write.html"><i class="fa-solid fa-pen-to-square"></i> 후기 쓰고 이벤트 참여 하기</a>
            </div>

            <ul class="gallery">
                <li><a href="#">
                    <img src="../static/images/poster.jpg">
                    <div class="info">
                        <span class="title">초초초 초간단 기본 반응형 갤러리 responsive gallery</span>
                        <span class="name">윤선애</span>
                    </div>
                    </a>
                </li>
                <li><a href="#">
                    <img src="../static/images/poster.jpg">
                    <div class="info">
                        <span class="title">초초초 초간단 기본 반응형 갤러리 responsive gallery</span>
                        <span class="name">윤**</span>
                    </div>
                    </a>
                </li>
                <li><a href="#">
                    <img src="../static/images/poster.jpg">
                    <div class="info">
                        <span class="title">초초초 초간단 기본 반응형 갤러리 responsive gallery</span>
                        <span class="name">윤선애</span>
                    </div>
                    </a>
                </li>
                <li><a href="#">
                    <img src="../static/images/poster.jpg">
                    <div class="info">
                        <span class="title">초초초 초간단 기본 반응형 갤러리 responsive gallery</span>
                        <span class="name">윤선애</span>
                    </div>
                    </a>
                </li>
                <li><a href="#">
                    <img src="../static/images/poster.jpg">
                    <div class="info">
                        <span class="title">초초초 초간단 기본 반응형 갤러리 responsive gallery</span>
                        <span class="name">윤선애</span>
                    </div>
                    </a>
                </li>
                <li><a href="#">
                    <img src="../static/images/poster.jpg">
                    <div class="info">
                        <span class="title">초초초 초간단 기본 반응형 갤러리 responsive gallery</span>
                        <span class="name">윤선애</span>
                    </div>
                    </a>
                </li>
                <li><a href="#">
                    <img src="../static/images/poster.jpg">
                    <div class="info">
                        <span class="title">초초초 초간단 기본 반응형 갤러리 responsive gallery</span>
                        <span class="name">윤선애</span>
                    </div>
                    </a>
                </li>
                
            </ul>
        </form>
    </div>

    <footer>
        <div class="sns">
            <a href="https://www.instagram.com/du_bi_dubap?igsh=aHo1a3JnenZrajJh&utm_source=qr"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://x.com/Du_Bidubap"><i class="fa-brands fa-twitter"></i></a>
        </div>
    </footer>
</body>
</html>